* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #034D3B;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  user-select: none;

  font-family: serif;
  font-size: 12vw;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;

  display: flex;
  gap: 1rem;
}

#text > span {
  display: block;
  transition-property: filter, opacity, text-shadow, transform;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

#text:hover > span {
  opacity: 0;
  text-shadow: 5px 5px 100px rgb(255, 255, 255), -5px -5px 100px rgb(255, 255, 255);
  filter: blur(4px);
  transform: translate(100px, -180px) rotate(45deg);
}

#text > span:nth-of-type(2) {
  transition-delay: 200ms;
}
#text > span:nth-of-type(3) {
  transition-delay: 400ms;
}
#text > span:nth-of-type(4) {
  transition-delay: 800ms;
}
#text > span:nth-of-type(5) {
  transition-delay: 1200ms;
}

#text:hover > span:nth-of-type(2) {
  transition-delay: 400ms;
}
#text:hover > span:nth-of-type(3) {
  transition-delay: 800ms;
}
#text:hover > span:nth-of-type(4) {
  transition-delay: 1200ms;
}
#text:hover > span:nth-of-type(5) {
  transition-delay: 1600ms;
}