* {
  margin: 0; padding: 0; box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #17181E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  width: 80%;
  gap: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  cursor: pointer;
  color: rgb(70, 70, 70);
}

label > i {
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked:nth-of-type(1) + label {
  color: rgb(199, 6, 6);
  animation: checked 5s ease infinite;
}
input[type="checkbox"]:checked:nth-of-type(2) + label {
  color: rgb(15, 15, 185);
  animation: checked 5s ease infinite;
}
input[type="checkbox"]:checked:nth-of-type(3) + label {
  color: rgb(198, 22, 214);
  animation: checked 5s ease infinite;
}
input[type="checkbox"]:checked:nth-of-type(4) + label {
  color: rgb(228, 224, 15);
  animation: checked 5s ease infinite;
}
input[type="checkbox"]:checked:nth-of-type(5) + label {
  color: rgb(15, 185, 15);
  animation: checked 5s ease infinite;
}

@keyframes checked {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}