* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #08001E;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 300px;
}

#load {
  width: 80px;
  height: 80px;
  background-color: #166EB9;
  border-radius: 15%;

  animation: load 3s infinite linear;
}

@keyframes load {
  0% {
    transform: rotateX(0) rotateZ(0);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}