* {
  margin: 0; padding: 0; box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  background-color: transparent;
  color: #fff;
  font-size: min(3rem, 8vw);
  padding: min(2.5rem, 6vw) min(5rem, 10vw);
  border: 4px solid #fff;
  cursor: pointer;

  transition: border-color .2s ease, color .2s ease;
}

#btn:hover {
  border-color: #0A8051;
  color: #0A8051;
  animation: shake .3s ease;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

/* #0A8051 */